@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @media screen and (max-width: 768px) {
    .custom-background {
      background: linear-gradient(rgba(0, 0, 140, 0.4), rgba(0, 0, 140, 0.4)),
        url(./assets/img/shop-lady.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .nav-link div:last-child {
    height: 2px;
    background-color: blue;
    width: 0;
  }

  .nav-link:hover div:last-child {
    transition: 1s;
    width: 100%;
  }

  .border-line {
    border-bottom: 2px solid blue;
  }

  .search:hover {
    width: 200px;
  }

  .search:hover input {
    width: 150px;
  }
}
